.item {
    display: flex;
}

.item:not(:last-child) {
    margin-bottom: 30px;
}

.img {
    margin-right: 15px;
}

.imageNotFound {
    display: flex;
    align-items: center;   
    text-align: center;
    width: 100px;
    height: 150px;
    margin-right: 20px;
    background-color: #dddddd;
}