
.hero {
    background:
        linear-gradient(67deg, #111 6.82%, rgba(17, 17, 17, 0) 100%),
        url(../../image/laptop-7025342_1920.jpg),
        lightgray 295.604px -4.18px / 92.376% 104.171% no-repeat;
    background-size: cover;
    height: 900px;
    position: relative;
}

.heroTitle {
    width: auto;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translateX(-30%) translateY(-50%);
    color: aquamarine;
    font-size: 3em;
}

.heroDesc {
    width: 550px;
    position: absolute;
    top: 70%;
    left: 50%;
    color: aquamarine;
    transform: translateX(-50%) translateY(-50%);
    font-size: 2em;
    line-height: 1.5;
}

.movieList {
    background: 
    linear-gradient(67deg, #111 6.82%, rgba(17, 17, 17, 0) 100%),
        url(../../image/retro-film-7698942_1920.jpg),
        lightgray 295.604px -4.18px / 92.376% 104.171% no-repeat;
    background-size: cover;
    height: fit-content;
}

.movieListTitle {
    margin-top: 0px;
    padding-top: 100px;
    padding-left: 50%;
    font-size: 24px;
    margin-bottom: 0px;
}