.button {
    display: inline-block;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    border: solid 1px #0099ff;
    border-radius: 30px;
    }
    
        .button:hover,
        .button:focus {
            background-color: #0099ff;
            color: #ffff00;
        }
