.nav {
    background-color: #fff;
    padding: 10px 40px;
    box-shadow: 0px 1px 10px 1px #0099ff;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list {
    display: flex;
    list-style: none;
    gap: 50px;
}

.link,
.active {
    font-size: 18px;
    color: #000;
    text-decoration: none;

}
.link:hover {
    color: #0099ff;
}

.active {
    color: #0099ff;
    background-color: #fff200;
    padding-top: 100%;
    padding-bottom: 20.69px;
}