.header {
    
    width: 100%;
    height: 100px;
    background: #98E0C2;
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);

}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_header {

}

.navigation_wrap {
    margin-top: 25px;
    padding: 0px;
}

.navigation_list {
    list-style: none;
    margin : 0px;
    padding-right: 100px;
    padding-left: 0px;
}

.navigation_wrap 
.navigation_list 
.navigation_item {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.05rem;
}

.navigation_wrap 
.navigation_list 
.navigation_item 
.navigation_link {
    display: inline-block;
    padding: 1rem;
    color: #000;
    text-decoration: none;
    transition: transform 0.3s ease 0s;
    transform-origin: 50% 0px 0px;
    transform-style: preserve-3d;
}

.navigation_wrap 
.navigation_list 
.navigation_item 
.navigation_link 
.current {
    color: #FF005B;
}
.navigation_wrap 
.navigation_list 
.navigation_item 
.navigation_link:hover {
    background: rgba(255, 229, 80, 1);
    color: #000;
    transform: rotateX(90deg) translateY(-22px);
}

.navigation_wrap 
.navigation_list 
.navigation_item 
.navigation_link::before {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    padding: 4px 0px;
    text-align: center;
    line-height: 42px;
    background: none repeat scroll 0% 0% rgba(255, 229, 80, 1);
    color: #FFF;
    content: attr(data-hover);
    transition: #6363CE 0.3s ease 0s;
    transform: rotateX(-90deg);
    transform-origin: 50% 0px 0px;

   
}

/* .list {
    display: flex;
    list-style: none;
    gap: 50px;
} */
/* 
.link,
.active {
    font-size: 18px;
    color: #000;
    text-decoration: none;

}
.link:hover {
    color: #0099ff;
}

.active {
    color: #0099ff;
    background-color: #fff200;
    padding-top: 100%;
    padding-bottom: 20.69px;
} */